* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #000;
}

.container {
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}

.flex {
    display: flex;
    align-items: center;
}

/* header */

.header {
    padding: 20px 0;
    position: fixed;
    width: 100%;
    margin: 0 auto;

    // .header__logo
    &__logo {
        position: relative;

        img {
            display: block;
            margin: 0 auto;
        }

        p {
            position: absolute;
            right: -36%;
            bottom: -56%;
            text-transform: uppercase;
            font-weight: 600;
            font-size: 22px;
            line-height: 150%;
            color: #1A0A03;
        }
    }
}

.nav {
    margin-left: 80px;

    // .nav__ul
    &__ul {
        gap: 40px;
    }

    // .nav__li
    &__li a {
        font-weight: 400;
        font-size: 18px;
        line-height: 160%;
        color: #1A0A03;
        opacity: .7;

        &:hover {
            opacity: 1;
            color: #EE5514;
            transition: .3s;
        }
    }
}

.btn {
    display: inline-block;
    background: #000;
    font-weight: 500;
    font-size: 18px;
    padding: 15px 30px;
    background: #EE5514;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

.btn--header {
    margin-left: auto;
}

/* hero */

.hero {
    padding-top: 100px;
    background: linear-gradient(113deg, rgba(238, 85, 20, .3) 68.88%, rgba(238, 85, 20, 0) 68.88%);
}

.content {

    // .content__title
    &__title {
        font-weight: 600;
        font-size: 61px;
        color: #1A0A03;
        max-width: 366px;
        width: 100%;

        span {
            color: #EE5514;
        }
    }

    // .content__text
    &__text {
        font-weight: 400;
        font-size: 16px;
        line-height: 160%;
        color: #1A0A03;
        opacity: 0.7;
        max-width: 326px;
        width: 100%;
        margin: 20px 0 40px;
    }
}

.content__item__left {
    margin-left: auto;
}

.main__img {
    position: relative;
    width: fit-content;
}

.positioned {
    position: absolute;
    top: 0;
    left: -117px;
}

.arrow__slider {
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background: rgba(238, 85, 20, .1);
    margin-left: 20px;
}

.search {
    background-color: #fff;
    padding: 25px 55px;
    max-width: 792px;
    width: 100%;
    justify-content: space-between;
    box-shadow: 0px 1px 14px rgba(26, 10, 3, 0.05);
    border-radius: 5px;

    &__item {
        position: relative;

        &:not(:first-child)::before {
            content: '';
            position: absolute;
            width: 1px;
            height: 42px;
            background: #EE5514;
            top: 50%;
            left: -119%;
            transform: translate(-50%, -50%);

        }
    }

    // .search__title
    &__title {
        font-weight: 400;
        font-size: 16px;
        line-height: 160%;
        color: #1A0A03;
        opacity: 0.7;
    }

    // .search__select
    &__select {
        margin-top: 10px;
        font-weight: 500;
        font-size: 18px;
        line-height: 160%;
        color: #1A0A03;
    }
}

/* desire */

.desire {
    padding: 100px 0;
    // .desire__content

    &__content {
        justify-content: space-between;

        // .desire__content_subtitle
        &_subtitle {
            font-weight: 600;
            font-size: 20px;
            line-height: 150%;
            letter-spacing: 0.05em;
            color: #EE5514;
            text-transform: uppercase;
        }

        // .desire__content_title

        &_title {
            font-weight: 600;
            font-size: 44px;
            line-height: 110%;
            color: #1A0A03;
            max-width: 360px;
            width: 100%;
            margin: 10px 0 20px;
        }

        // .desire__content_text

        &_text {
            font-weight: 400;
            font-size: 16px;
            line-height: 160%;
            color: #1A0A03;
            opacity: 0.7;
            max-width: 326px;
        }
    }
}

/* features */

.features {

    // .features__content

    &__content {

        // .features__content_title

        &_title {
            text-align: center;

            h3 {
                font-weight: 600;
                font-size: 20px;
                line-height: 150%;
                letter-spacing: 0.05em;
                color: #EE5514;
                text-transform: uppercase;
            }

            p {
                font-weight: 600;
                font-size: 44px;
                line-height: 130%;
                color: #1A0A03;
                margin-top: 10px;
            }
        }

        // .features__content_cards

        &_cards {
            justify-content: space-between;
            gap: 30px;
            padding: 40px 0;
        }
    }
}


.content {

    // .content__card

    &__card {
        text-align: center;
        flex: 0 1 360px;
        background: #FFFFFF;
        box-shadow: 0px 1px 30px rgba(26, 10, 3, 0.05);
        border-radius: 10px;
        padding: 56px 0;

        &:hover {
            background: rgba(238, 85, 20, .2);
            transition: .4s;
        }
    }
}

.card {

    // .card__img

    &__img {
        width: 140px;
        height: 140px;
        border-radius: 100%;
        background: rgba(18, 101, 225, .3);
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto 35px;

        img {
            display: block;
            margin: 0 auto;
        }
    }

    // .card__info

    &__info {

        h3 {
            font-weight: 600;
            font-size: 22px;
            line-height: 150%;
            color: #1A0A03;
        }

        p {
            font-weight: 400;
            line-height: 160%;
            color: #1A0A03;
            opacity: 0.7;
            max-width: 300px;
            width: 100%;
            margin: 15px auto;
        }

        a {
            font-weight: 700;
            line-height: 160%;
            color: #EE5514;
        }
    }
}

/* gallary */

.gallary {

    // .gallary__title

    &__title {
        text-transform: uppercase;

        h4 {
            font-weight: 600;
            font-size: 20px;
            line-height: 150%;
            letter-spacing: 0.05em;
            color: #EE5514;
        }

        p {
            font-weight: 600;
            font-size: 30px;
            line-height: 130%;
            color: #1A0A03;
            margin: 13px 0 18px;
        }
    }

    // .gallary__nav

    &__nav {
        color: aquamarine;
        font-size: 18px;
        line-height: 140%;
        letter-spacing: 0.05em;
        color: #1A0A03;
        opacity: 0.7;
        align-items: baseline;
    }

    // .gallary__li

    &__li {
        margin-left: 15px;
        padding-bottom: 7px;
        border: 1px solid transparent;
        cursor: context-menu;

        &:hover {
            color: #EE5514;
            opacity: 1;
            border-bottom: 1px solid #EE5514;
            transition: .4s;
        }
    }
}

.slider {
    justify-content: space-between;
    padding: 35px 0;
    // .slider__item

    &__item {

        h3 {
            font-weight: 600;
            font-size: 22px;
            line-height: 150%;
            color: #1A0A03;
            margin: 20px 0 10px;
        }
    }

    // .slider__img

    &__img {
        img {
            display: block;
            margin: 0 auto;
        }
    }
}

.sizing {
    gap: 7px;
    // .sizing__attr

    &__attr {
        font-weight: 400;
        line-height: 160%;
        color: #1A0A03;
        opacity: 0.7;
    }

    // .sizing__name

    &__name {
        font-weight: 700;
        line-height: 160%;
        color: #1A0A03;
        opacity: 0.8;
    }

    &:nth-child(4) {
        margin: 10px 0;
    }

}

/* testimonials */

.testimonials {

    // .testimonials__title

    &__title {
        text-align: center;
        font-weight: 600;
        font-size: 44px;
        line-height: 130%;
        color: #1A0A03;
        text-transform: capitalize;
    }

    // .testimonials__content

    &__content {
        justify-content: space-between;
        padding: 40px 0;
    }

    // .testimonials__img

    &__img {
        img {
            display: block;
            margin: 0 auto;
        }
    }

    &__info {
        flex: 0 1 48%;
    }

}

.info {

    // .info__img

    &__img {
        img {
            display: block;
            margin: 0 auto;
        }
    }
}

.slider__arrows {
    max-width: 150px;
    width: 100%;
    margin-left: auto;
    justify-content: space-between;

}

.arrow__wrapper {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(238, 85, 20, .1);

    &:first-child {
        transform: rotate(180deg);
    }
}

.symbol {
    margin: 15px 0;
}

.author {
    margin-top: 30px;

    // .author__quote
    h3 {
        font-weight: 500;
        font-size: 18px;
        line-height: 160%;
        color: #1A0A03;

    }

    p {
        font-weight: 400;
        font-size: 14px;
        line-height: 160%;
        color: #1A0A03;
        opacity: 0.8;
        margin-top: 8px;
    }

    &__quote {

        h3 {
            font-weight: 600;
            font-size: 22px;
            line-height: 150%;
            color: #1A0A03;
        }

        p {
            font-style: italic;
            font-weight: 500;
            font-size: 14px;
            line-height: 160%;
            color: #1A0A03;
            opacity: 0.7;
            max-width: 390px;
        }
    }
}

/* mailing */

.mailing {
    margin: 60px 0;
    // .mailing__content

    &__content {
        border-radius: 10px;
        background: rgba(129, 168, 218, .1)
    }

    // .mailing__img

    &__img {
        img {
            display: block;
            margin: 0 auto;
        }
    }

    // .mailing__info

    &__info {
        padding-left: 40px;
    }

    // .mailing__title

    &__title {
        font-weight: 600;
        font-size: 31px;
        line-height: 140%;
        color: #1A0A03;
    }

    // .mailing__text

    &__text {
        font-weight: 400;
        font-size: 18px;
        line-height: 160%;
        color: #1A0A03;
        opacity: 0.7;
        max-width: 525px;
        width: 100%;
        margin: 15px 0;
    }
}



.input__form {
    max-width: 525px;
    width: 100%;
    align-items: unset;
    margin-top: 30px ;

    input {
        width: 400px;
        outline: none;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        border: 1px solid rgba(0, 0, 0, .3);
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        color: #1A0A03;
        opacity: 0.5;
        padding: 10px 0 10px 20px;
    }
}

.btn--input {
    border: 1px solid #EE5514;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0%;
}